RewriteEngine On

# Kiểm tra nếu URL kết thúc bằng .html
RewriteCond %{REQUEST_URI} \.html$

#Chuẩn 1
#RewriteRule ^dich-vu/([a-zA-Z0-9_-]+)\.html$ index.php?mod=service&controller=index&action=index


#trang chủ
                                     
RewriteRule ^trang-chu.html$ index.php?mod=home&action=home

#Link thân thiện cho dịch vụ
# dich-vu-phan-mem
RewriteRule ^dich-vu/phan-mem\.html$ index.php?mod=service&controller=index&action=software
#dich-vu-zalo-mini-app
RewriteRule ^dich-vu/zalo-mini-app\.html$ index.php?mod=service&controller=index&action=zalo
# Áp dụng quy tắc RewriteRule cho các trường hợp khác
RewriteRule ^dich-vu/website\.html$ index.php?mod=service&controller=index&action=index

RewriteRule ^dich-vu/website\.html$ index.php?mod=service&controller=index&action=seo

#san-pham
RewriteRule ^san-pham/thiet-ke-web\.html$ index.php?mod=product&controller=index&action=web

RewriteRule ^san-pham/thiet-mini-app\.html$ index.php?mod=product&controller=index&action=zalo

#tin-tuc
RewriteRule ^tin-tuc/ve-chung-toi\.html$ index.php?mod=news&controller=index&action=index

#bang-gia
RewriteRule ^bang-gia.html$ index.php?mod=price&controller=index&action=index

#lien-he
RewriteRule ^lien-he.html$ index.php?mod=contact&controller=index&action=index

#chuc-nang-cap-nhap
RewriteRule ^dang-cap-nhap.html$ index.php?mod=error&controller=index&action=index
 